*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* user-drag: none; */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  perspective: 800px;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
